
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-nav > li > a {
	padding-bottom: 25px;
}

.drs {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.col-lg-4 p, h2 {
	text-align: center;
}

.col-lg-4 img {
	text-align: center;
	margin-left: 30%;
	width: 140px;
	height: 140px;
}

.bannerLogo {
	margin-top: 10px;
	margin-right: 15px;
}

.navbar-inverse .navbar-nav > li > a {
	padding-top: 20px;
}